<footer class="footer row">
  <small class="col-xs-6">
    The <a href="http://www.railstutorial.org" target="_blank" rel="noopener noreferrer">Ruby on Rails Tutorial</a> by <a href="http://www.michaelhartl.com" target="_blank" rel="noopener noreferrer">Michael Hartl</a>
  </small>
  <nav class="col-xs-6">
    <ul>
      <li><%= link_to('About', about_path) %></li>
      <li><%= link_to('Contact', contact_path) %></li>
      <li><a href="http://news.railstutorial.org" target="_blank" rel="noopener noreferrer">News</a></li>
    </ul>
  </nav>
</footer>
